[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=VirSH action
Comment=Basic VM management tool
Exec=/home/vladimir/Install/Scripts/virsh-action/virsh-action.sh
Icon=emblem-system-symbolic
Terminal=false
