[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=VirSH action
Comment=Basic VM management tool
Exec=PATHTODESKTOPFILE
Icon=emblem-system-symbolic
Terminal=false
